/*
Arrow Button

Basic Arrow button component.

Markup:
<a href="#" aria-label="Previous chapter" class="ArrowButton  {{modifier_class}} ArrowButton--previous"><svg viewBox="0 0 10 10" width="24" height="24" fill="currentColor">
<path d="m9 4h-4v-2l-4 3 4 3v-2h4z"/>
</svg></a><a href="#" aria-label="Next chapter" class="ArrowButton  {{modifier_class}} ArrowButton--next"><svg viewBox="0 0 10 10" width="24" height="24" fill="currentColor">
<path d="m1 4h4v-2l4 3-4 3v-2h-4z"/>
</svg></a>

.ArrowButton:hover - hover state
.ArrowButton:focus - focus state
.ArrowButton:active - active state
.ArrowButton--disabled - disabled state (also styles the `disabled` attribute)
.ArrowButton--disabled:focus - disabled state (also styles the `disabled` attribute)

StyleGuide 6.ArrowButton

*/

.ArrowButton {
  font-family: var(--sans-fonts);
  font-weight: 400;
  flex: 0 1 auto;
  line-height: 1.2;

  display: inline-block;
  padding: 5px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  color: var(--link);
  outline: none;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 0.65rem;
  border-radius: 100%;
  background-color: var(--button-background-color);
  box-shadow: 0 1px 2px 0 rgba(98, 98, 98, 0.5);
}
.ArrowButton:hover {
  color: white;
  background-color: var(--link);
  text-decoration: none;
  box-shadow: none;
}

.ArrowButton:active {
  color: var(--active);
}

.ArrowButton:focus {
  outline: none;
  text-decoration: none;
  background-color: var(--link);
  color: white;
}

.ArrowButton[disabled],
.ArrowButton--disabled,
.ArrowButton[disabled]:hover,
.ArrowButton--disabled:hover {
  color: var(--disabled);
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--button-background-color);
}
.ArrowButton[disabled]:focus,
.ArrowButton--disabled:focus {
  color: white;
  border-color: var(--disabled);
  background-color: var(--disabled);
  box-shadow: inset 0 0px 2px 0 rgba(0, 66, 98, 0.15);
}

.ArrowButton--previous svg {
  transform: translate(-1px, 1px);
}
.ArrowButton--next svg {
  transform: translate(1px, 1px);
}

/* .Layout--reader .ArrowButton {
  position: fixed;
  bottom: 0.5rem;
}
.Layout--reader .ArrowButton--previous {
  right: 5rem;
}
.Layout--reader .ArrowButton--next {
  right: 1rem;
} */
