
.EditButton,
.EditButton:link,
.EditButton:visited {
    font-family: var(--fonts);
    font-size: .85rem;
    font-weight: 300;

    flex: 0 1 auto;
    line-height: 1;

    display: inline-block;

    min-width: auto;
    padding: .25rem 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .89px;
    text-transform: uppercase;

    color: var(--primary);
    border: 1px solid transparent;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    box-shadow: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.EditButton:focus,
.EditButton:link:focus,
.EditButton:visited:focus{
    color: black;
    border: 1px solid #ccc;
}
.EditButton:active,
.EditButton:link:active,
.EditButton:visited:active {
    border: none;
}
.EditButton:disabled,
.EditButton:link:disabled,
.EditButton:visited:disabled {
    color: #666;
}


.EditButton:hover {
  border: 1px solid transparent;
}

.EditButton--strong {
  font-weight: bold;
}

.EditButton--grab {
  font-size: 1.2rem;

  position: absolute;
  top: 6px;
  left: .75rem;

  padding: .1rem;

  color: #999;
  border-radius: .25rem;
}