/*
Book Information Card

InfoCard, used for detail view in library.

Markup:
<div>
<div class="InfoCard">
  <div class="Row Row--titleRow">
    <h3 class="Row-title Row-title--cardTitle">Book Title</h3>
    <button class="Row-button">Read</button>
  </div>
<details class="InfoCard-detail" open>
    <summary>Metadata</summary>
    <div class="InfoCard-contents">
      <p><span href="#" class="BookCard-attribution">Danny Scheinmann</span></p>
      <p><span href="#" class="BookCard-attribution">John Mitchinson</span> <span class="BookCard-attributionLabel">(editor)</span></p>
    </div>
</details>
<details class="InfoCard-detail">
    <summary>Table of Contents</summary>
    <div class="InfoCard-contents">
      <ol class='toc no-parts'>
  <li>
    <a href='chap00.xhtml#leanpub-auto-foreword'>Foreword</a>
  </li>
  <li>
    <a href='chap01.xhtml#leanpub-auto-preface'>Preface</a>
    <ol>
      <li>
        <a href='chap01.xhtml#leanpub-auto-mission'>Mission</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap02.xhtml#ch1'>Chapter 1: Why Functional Programming?</a>
    <ol>
      <li>
        <a href='chap02.xhtml#leanpub-auto-at-a-glance'>At a Glance</a>
      </li>
      <li>
        <a href='chap02.xhtml#leanpub-auto-confidence'>Confidence</a>
      </li>
      <li>
        <a href='chap02.xhtml#leanpub-auto-communication'>Communication</a>
      </li>
      <li>
        <a href='chap02.xhtml#ch1readability'>Readability</a>
      </li>
      <li>
        <a href='chap02.xhtml#leanpub-auto-perspective'>Perspective</a>
      </li>
      <li>
        <a href='chap02.xhtml#leanpub-auto-how-to-find-balance'>How to Find Balance</a>
      </li>
      <li>
        <a href='chap02.xhtml#leanpub-auto-resources'>Resources</a>
      </li>
      <li>
        <a href='chap02.xhtml#leanpub-auto-summary'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap03.xhtml#ch2'>Chapter 2: The Nature Of Functions</a>
    <ol>
      <li>
        <a href='chap03.xhtml#leanpub-auto-what-is-a-function'>What Is a Function?</a>
      </li>
      <li>
        <a href='chap03.xhtml#leanpub-auto-function-input'>Function Input</a>
      </li>
      <li>
        <a href='chap03.xhtml#ch2namedargs'>Named Arguments</a>
      </li>
      <li>
        <a href='chap03.xhtml#leanpub-auto-function-output'>Function Output</a>
      </li>
      <li>
        <a href='chap03.xhtml#leanpub-auto-functions-of-functions'>Functions of Functions</a>
      </li>
      <li>
        <a href='chap03.xhtml#ch2syntax'>Syntax</a>
      </li>
      <li>
        <a href='chap03.xhtml#ch2this'>What’s This?</a>
      </li>
      <li>
        <a href='chap03.xhtml#leanpub-auto-summary-1'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap04.xhtml#ch3'>Chapter 3: Managing Function Inputs</a>
    <ol>
      <li>
        <a href='chap04.xhtml#ch3allforone'>All for One</a>
      </li>
      <li>
        <a href='chap04.xhtml#leanpub-auto-adapting-arguments-to-parameters'>Adapting Arguments to Parameters</a>
      </li>
      <li>
        <a href='chap04.xhtml#ch3somenowsomelater'>Some Now, Some Later</a>
      </li>
      <li>
        <a href='chap04.xhtml#ch3oneatatime'>One at a Time</a>
      </li>
      <li>
        <a href='chap04.xhtml#ch3ordermatters'>Order Matters</a>
      </li>
      <li>
        <a href='chap04.xhtml#ch3nopoints'>No Points</a>
      </li>
      <li>
        <a href='chap04.xhtml#leanpub-auto-summary-2'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap05.xhtml#ch4'>Chapter 4: Composing Functions</a>
    <ol>
      <li>
        <a href='chap05.xhtml#leanpub-auto-output-to-input'>Output to Input</a>
      </li>
      <li>
        <a href='chap05.xhtml#leanpub-auto-general-composition'>General Composition</a>
      </li>
      <li>
        <a href='chap05.xhtml#leanpub-auto-reordered-composition'>Reordered Composition</a>
      </li>
      <li>
        <a href='chap05.xhtml#leanpub-auto-abstraction'>Abstraction</a>
      </li>
      <li>
        <a href='chap05.xhtml#ch4revisitingpoints'>Revisiting Points</a>
      </li>
      <li>
        <a href='chap05.xhtml#leanpub-auto-summary-3'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap06.xhtml#ch5'>Chapter 5: Reducing Side Effects</a>
    <ol>
      <li>
        <a href='chap06.xhtml#leanpub-auto-effects-on-the-side-please'>Effects on the Side, Please</a>
      </li>
      <li>
        <a href='chap06.xhtml#leanpub-auto-once-is-enough-thanks'>Once Is Enough, Thanks</a>
      </li>
      <li>
        <a href='chap06.xhtml#leanpub-auto-pure-bliss'>Pure Bliss</a>
      </li>
      <li>
        <a href='chap06.xhtml#leanpub-auto-there-or-not'>There or Not</a>
      </li>
      <li>
        <a href='chap06.xhtml#leanpub-auto-purifying'>Purifying</a>
      </li>
      <li>
        <a href='chap06.xhtml#leanpub-auto-summary-4'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap07.xhtml#ch6'>Chapter 6: Value Immutability</a>
    <ol>
      <li>
        <a href='chap07.xhtml#leanpub-auto-primitive-immutability'>Primitive Immutability</a>
      </li>
      <li>
        <a href='chap07.xhtml#leanpub-auto-value-to-value'>Value to Value</a>
      </li>
      <li>
        <a href='chap07.xhtml#ch6reassignment'>Reassignment</a>
      </li>
      <li>
        <a href='chap07.xhtml#leanpub-auto-performance'>Performance</a>
      </li>
      <li>
        <a href='chap07.xhtml#ch6treatment'>Treatment</a>
      </li>
      <li>
        <a href='chap07.xhtml#leanpub-auto-summary-5'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap08.xhtml#ch7'>Chapter 7: Closure vs. Object</a>
    <ol>
      <li>
        <a href='chap08.xhtml#leanpub-auto-the-same-page'>The Same Page</a>
      </li>
      <li>
        <a href='chap08.xhtml#leanpub-auto-look-alike'>Look Alike</a>
      </li>
      <li>
        <a href='chap08.xhtml#leanpub-auto-two-roads-diverged-in-a-wood'>Two Roads Diverged in a Wood…</a>
      </li>
      <li>
        <a href='chap08.xhtml#leanpub-auto-summary-6'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap09.xhtml#ch8'>Chapter 8: Recursion</a>
    <ol>
      <li>
        <a href='chap09.xhtml#leanpub-auto-definition'>Definition</a>
      </li>
      <li>
        <a href='chap09.xhtml#leanpub-auto-declarative-recursion'>Declarative Recursion</a>
      </li>
      <li>
        <a href='chap09.xhtml#leanpub-auto-stack'>Stack</a>
      </li>
      <li>
        <a href='chap09.xhtml#leanpub-auto-rearranging-recursion'>Rearranging Recursion</a>
      </li>
      <li>
        <a href='chap09.xhtml#leanpub-auto-summary-7'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap10.xhtml#ch9'>Chapter 9: List Operations</a>
    <ol>
      <li>
        <a href='chap10.xhtml#leanpub-auto-non-fp-list-processing'>Non-FP List Processing</a>
      </li>
      <li>
        <a href='chap10.xhtml#ch9map'>Map</a>
      </li>
      <li>
        <a href='chap10.xhtml#ch9filter'>Filter</a>
      </li>
      <li>
        <a href='chap10.xhtml#ch9reduce'>Reduce</a>
      </li>
      <li>
        <a href='chap10.xhtml#leanpub-auto-advanced-list-operations'>Advanced List Operations</a>
      </li>
      <li>
        <a href='chap10.xhtml#leanpub-auto-method-vs-standalone'>Method vs. Standalone</a>
      </li>
      <li>
        <a href='chap10.xhtml#leanpub-auto-looking-for-lists'>Looking for Lists</a>
      </li>
      <li>
        <a href='chap10.xhtml#ch9fusion'>Fusion</a>
      </li>
      <li>
        <a href='chap10.xhtml#leanpub-auto-beyond-lists'>Beyond Lists</a>
      </li>
      <li>
        <a href='chap10.xhtml#leanpub-auto-summary-8'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap11.xhtml#ch10'>Chapter 10: Functional Async</a>
    <ol>
      <li>
        <a href='chap11.xhtml#leanpub-auto-time-as-state'>Time as State</a>
      </li>
      <li>
        <a href='chap11.xhtml#leanpub-auto-eager-vs-lazy'>Eager vs. Lazy</a>
      </li>
      <li>
        <a href='chap11.xhtml#leanpub-auto-reactive-fp'>Reactive FP</a>
      </li>
      <li>
        <a href='chap11.xhtml#leanpub-auto-summary-9'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap12.xhtml#ch11'>Chapter 11: Putting It All Together</a>
    <ol>
      <li>
        <a href='chap12.xhtml#leanpub-auto-setup'>Setup</a>
      </li>
      <li>
        <a href='chap12.xhtml#leanpub-auto-stock-events'>Stock Events</a>
      </li>
      <li>
        <a href='chap12.xhtml#leanpub-auto-stock-ticker-ui'>Stock Ticker UI</a>
      </li>
      <li>
        <a href='chap12.xhtml#leanpub-auto-summary-10'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap13.xhtml#apA'>Appendix A: Transducing</a>
    <ol>
      <li>
        <a href='chap13.xhtml#leanpub-auto-why-first'>Why, First</a>
      </li>
      <li>
        <a href='chap13.xhtml#leanpub-auto-how-next'>How, Next</a>
      </li>
      <li>
        <a href='chap13.xhtml#leanpub-auto-what-finally'>What, Finally</a>
      </li>
      <li>
        <a href='chap13.xhtml#leanpub-auto-summary-11'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap14.xhtml#apB'>Appendix B: The Humble Monad</a>
    <ol>
      <li>
        <a href='chap14.xhtml#leanpub-auto-type'>Type</a>
      </li>
      <li>
        <a href='chap14.xhtml#leanpub-auto-loose-interface'>Loose Interface</a>
      </li>
      <li>
        <a href='chap14.xhtml#leanpub-auto-just-a-monad'>Just a Monad</a>
      </li>
      <li>
        <a href='chap14.xhtml#leanpub-auto-maybe'>Maybe</a>
      </li>
      <li>
        <a href='chap14.xhtml#leanpub-auto-humble'>Humble</a>
      </li>
      <li>
        <a href='chap14.xhtml#leanpub-auto-summary-12'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap15.xhtml#apC'>Appendix C: FP Libraries</a>
    <ol>
      <li>
        <a href='chap15.xhtml#apCstuff'>Stuff to Investigate</a>
      </li>
      <li>
        <a href='chap15.xhtml#leanpub-auto-ramda-0230'>Ramda (0.23.0)</a>
      </li>
      <li>
        <a href='chap15.xhtml#leanpub-auto-lodashfp-4174'>Lodash/fp (4.17.4)</a>
      </li>
      <li>
        <a href='chap15.xhtml#leanpub-auto-mori-032'>Mori (0.3.2)</a>
      </li>
      <li>
        <a href='chap15.xhtml#apCfpo'>Bonus: FPO</a>
      </li>
      <li>
        <a href='chap15.xhtml#apCfasy'>Bonus #2: fasy</a>
      </li>
      <li>
        <a href='chap15.xhtml#leanpub-auto-summary-13'>Summary</a>
      </li>
    </ol>
  </li>
  <li>
    <a href='chap16.xhtml#leanpub-endnotes'>Notes</a>
  </li>
</ol>
    </div>
</details>
<details class="InfoCard-detail">
    <summary>Sessions (4)</summary>
  <div class="InfoCard-contents">
    <ol class="BookCard-sessions">
    <li class="BookCard-session"><em class="BookCard-session-time">20 hours ago:</em>  <span class="BookCard-session-pages">235-403</span></li>
    <li class="BookCard-session"><em class="BookCard-session-time">2 days ago:</em>  <span class="BookCard-session-pages">68-235</span></li><li class="BookCard-session"><em class="BookCard-session-time">5 days ago:</em>  <span class="BookCard-session-pages">15-69</span></li><li class="BookCard-session"><em class="BookCard-session-time">7 days ago:</em>  <span class="BookCard-session-pages">0-15</span></li></ol>
  </div>
</details>
<details class="InfoCard-detail">
    <summary>Annotations &amp; Notes (5/8)</summary>
    Something small enough to escape casual notice.
</details>
<details class="InfoCard-detail">
    <summary>Preview</summary>
    Something small enough to escape casual notice.
</details>
</div>
</div>

StyleGuide 6.4
*/
.InfoCard {
  margin-bottom: 1rem;
}

.InfoCard-contents {
  padding: 0 1rem;
  margin: 0 0 0.5rem;
  font-size: 0.75rem;
  list-style: none;
}

.InfoCard-contents ol {
  margin: 0 2rem;
}
.InfoCard-contents li {
  line-height: 1.25rem;
}
.InfoCard-contents li:before {
  content: "\200B"; /* Preserving list semantics in Safari + VoiceOver by adding zero-width space */
}
.InfoCard-contents .BookCard-session {
  line-height: 1;
}

.InfoCard-title {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 4rem 1fr 0.25fr;
  padding-bottom: 1rem;
}
