/*
Info Button

Basic info button component.

Markup:
<button class="InfoButton {{modifier_class}}" aria-label="Information">i</button>

.InfoButton:hover - hover state
.InfoButton:focus - focus state
.InfoButton:active - active state
.InfoButton--disabled - disabled state (also styles the `disabled` attribute)
.InfoButton--disabled:focus - disabled state (also styles the `disabled` attribute)

StyleGuide 6.InfoButton

*/

.InfoButton {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  flex: 0 1 auto;
  line-height: 1;

  padding: 0;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  color: var(--link);
  border: 2px solid var(--link);
  border-radius: 100%;
  outline: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.InfoButton:hover {
  color: var(--hover);
  border-color: var(--hover);
  box-shadow: 0px 0px 0px 2px var(--hover);
  text-decoration: none;
}

.InfoButton:active {
  color: var(--active);
  border-color: var(--active);
}
.InfoButton:focus {
  text-decoration: none;
  border-color: var(--hover);
  box-shadow: 0px 0px 0px 2px var(--hover);
  background-color: var(--light);
  outline: none;
}
.InfoButton:active:hover,
.InfoButton:active:focus {
  box-shadow: 0px 0px 0px 2px var(--active);
}

.InfoButton[disabled],
.InfoButton--disabled,
.InfoButton[disabled]:hover,
.InfoButton--disabled:hover {
  box-shadow: 0px 0px 0px 2px var(--disabled);
  color: var(--disabled);
  border-color: var(--disabled);
  cursor: not-allowed;
}
.InfoButton[disabled]:focus,
.InfoButton--disabled:focus {
  color: white;
  border-color: var(--disabled);
  background-color: var(--disabled);
  box-shadow: inset 0 0px 2px 0 rgba(0, 66, 98, 0.15);
}
