/*
InfoSidebar

Information Sidebar. Usually positioned on the right hand side

Markup:
<div class="InfoSidebar">
<h3>Title</h3>
</div>

StyleGuide: 6.InfoSidebar
*/
.InfoSidebar {
  background-image: transparent;
  border-left: 1px solid #e0e0e0;
  padding: 0;
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
}
