.Info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.25rem 1rem;
}

a.Info-return {
  position: absolute;
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  display: block;
  grid-column: 1/3;
}

.Info-graphics {
  padding: 2rem 0;
}
.Info-graphics img {
  max-width: 100%;
  height: auto;
}

.Info-contents {
  padding: 2rem 0;
}
