.Layout {
  display: grid;
  grid-template-areas: "Menu ." "NavSidebar Main";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 2rem auto;
}

.Layout--reader {
  grid-template-columns: 0.3fr 1fr;
}

.Layout.is-without-menu {
  grid-template-areas: "Menu SecondMenu" "Main Main";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 2rem auto;
}

@media (max-width: 820px) {
  .Layout {
    grid-template-areas: 'Main';
    grid-template-columns: 1fr;
  }
}
