.Layout {
  display: grid;
  grid-template-areas: 'NavSidebar Main';
  grid-template-columns: min-content 1fr;
}

.Layout--reader {
  grid-template-columns: minmax(auto, 0.4fr) 1fr;
  grid-template-areas:
    'NavSidebar TopMenu'
    'NavSidebar Main';
  grid-template-rows: auto auto;
}

.Layout.is-without-menu {
  grid-template-areas: 'Main';
  grid-template-columns: 1fr;
}
.Layout--reader.is-without-menu {
  grid-template-areas:
    'TopMenu'
    'Main';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

@media (max-width: 820px) {
  .Layout {
    grid-template-areas: 'Main';
    grid-template-columns: 1fr;
  }
  .Layout--reader {
    grid-template-areas:
      'TopMenu'
      'Main';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
