/*
Menu

Basic menu component.

Markup:
<div>
<nav class="Menu {{modifier_class}}">
<ul class="Menu-list">
  <li><button class="TextButton">Sort</button></li>
  <li><button class="Button Button--menu">Import</button></li>
  <li><button class="TextButton">Select</button></li>
</ul>
</nav>
</div>

.Menu--top - top menu
.Menu--bottom - bottom menu

StyleGuide 6.Menu

*/

.Menu {
  width: 100%;
  background-image: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #f0f0f0;
}
.Menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.7rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  height: 100%;
}

.Menu--top {
  border-top: none;
}
.Menu--bottom {
  border-bottom: none;
}

.Menu--left {
}
.Menu--center {
  border-right: none;
  border-left: none;
}
.Menu--right {
}
