/*
Menu

Basic menu component.

Markup:
<div>
<nav class="Menu {{modifier_class}}">
<ul class="Menu-list">
  <li><button class="TextButton">Sort</button></li>
  <li><button class="Button Button--menu">Import</button></li>
  <li><button class="TextButton">Select</button></li>
</ul>
</nav>
</div>

.Menu--top - top menu
.Menu--bottom - bottom menu

StyleGuide 6.Menu

*/

.Menu {
  width: 100%;
  background-image: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  z-index: 100;
}
.Menu li {
  margin: 0 0.25rem;
}
.Menu li:first-child {
  margin-left: var(--reader-left-margin);
}
.Menu-list {
  display: flex;
  list-style: none;
  font-size: 0.85rem;
  align-items: center;
  height: 100%;
  padding: 0.25rem 0;

  margin: 0;
}

.Menu--top {
  border-top: none;
}
.Menu--bottom {
  border-bottom: none;
}

.Menu--left {
  border-right: none;
  border-left: none;
}
.Menu--reader {
  background-color: #fefefc;
  box-shadow: 0px 0px 20px 4px #fefefc;
  grid-area: TopMenu;
  position: sticky;
  top: 0;
}
