.NoteButton {
  font-family: var(--sans-fonts);
  font-weight: 400;
  flex: 0 1 auto;
  line-height: 1.2;

  display: inline-block;
  padding: 0;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  color: var(--link);
  border: none;
  outline: none;
  background-color: transparent;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-transform: uppercase;
  font-size: 0.65rem;
  position: absolute;
  left: -1rem;
  width: auto;
  bottom: -1rem;
}

.NoteButton:hover {
  color: var(--hover);
  text-decoration: none;
  box-shadow: none;
  background-color: #f0f0f0;
}

@media (hover: hover) {
  .NoteButton {
    opacity: 0;
  }
  .NoteButton:focus,
  :hover > .NoteButton {
    opacity: 1;
  }
}
