.ProfileButton {
  width: 3rem;
  min-width: auto;
  height: 3rem;
  padding: 0;

  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.ProfileButton-icon {
  width: 3rem;
  height: 3rem;
}
.ProfileButton:hover,
.ProfileButton:active {
  border: none;
}
.ProfileButton:focus,
.ProfileButton:active {
  background-color: #f0f0f0;
}

.ProfileButton[aria-expanded='true'] {
  background-color: #f0f0f0;
}
