/*
Progress

Circular progress bar

Markup:
<div class="Progress {{modifier_class}}"><p class="Progress-page">300</p>
<p class="Progress-total">of 400</p>
</div>

.Progress--complete - book fully read
.Progress--shortBook - short book
.Progress--longBook - long book
.Progress--unread - unread book


StyleGuide 6.Progress
*/

.Progress {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  overflow: hidden;
  line-height: 1;
  font-feature-settings: 'pnum' on;
  font-variant-numeric: proportional-nums;
  font-size: 2rem;
}

.Progress-total {
  display: block;
  font-weight: 350;
  font-size: 60%;
  color: black;
}
.Progress-page {
  display: block;
  font-weight: 750;
}

.Progress--complete {
  color: #28b595;
}
.Progress--unread {
  color: #e7c43d;
}
.Progress--unread .Progress-page {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.Progress--shortBook {
  font-size: 1.4rem;
}
.Progress--longBook {
  font-size: 2.4rem;
}
