.ql-editor p {
  margin-top: var(--reader-paragraph-spacing);
  margin-bottom: var(--reader-paragraph-spacing);
  font-size: 0.85rem;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow,
.ql-editor,
.ql-container {
  margin: 0 !important;
  border: none;
  padding: 0;
  font-size: 0.85rem;
}

.ql-editor,
.ql-container {
  height: auto;
  min-height: 100%;
}

.ql-editor:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.ql-snow .ql-tooltip {
  margin-top: -0.75rem;
  z-index: 3;
}

.ql-toolbar.ql-snow {
  padding: 0.25rem 2rem;
}

.ql-editor {
  padding: 0 1rem;
  padding-bottom: 0.75rem;
}
