
/*
Row

Basic row component.

Markup:
<div>
<div class="Row"><h3 class="Row-title Row-title--cardTitle">This is a card title</h3></div>
<div class="Row"><img  class="Row-icon"alt="" src="/styles/cover1.jpg"><p>Saving Bletchley Park</p></div>
<div class="Row"><img  class="Row-icon"alt="" src="/styles/cover2.jpg">
<div class="Row-group">
  <h4 class="Row-title">Badass: Making Users Awesome</h4>
  <p class="Row-paragraph"><a href="#" class="Row-attribution">Kathy Sierra</a></p>
</div>
<div class="Row-buttons"><button class="Button">Read</button></div>
</div>
<div class="Row"><img  class="Row-icon"alt="" src="/styles/cover3.jpg">
<div class="Row-group">
  <h4 class="Row-title">The Half-Life of Joshua Jones</h4>
  <p class="Row-paragraph"><a href="#" class="Row-attribution">Danny Scheinmann</a></p>
</div>
<div class="Row-buttons"><button class="TextButton">View</button></div>
</div>
<div class="Row"><img  class="Row-icon"alt="" src="/styles/cover4.jpg">
<div class="Row-group">
  <h4 class="Row-title">After I'm Gone</h4>
  <p class="Row-paragraph"><a href="#" class="Row-attribution">Laura Lippman</a></p>
</div>
<div class="Row-buttons"><button class="InfoButton" aria-label="Information">i</button></div>
</div>
<div class="Row"><img  class="Row-icon"alt="" src="/styles/cover5.jpg">
<div class="Row-group">
  <h4 class="Row-title">Just Fucking Ship</h4>
  <p class="Row-paragraph"><a href="#" class="Row-attribution">Amy Hoy</a></p>
</div>
</div>
</div>

StyleGuide 6.2

*/
.Row {
  display: block;
  font-weight: normal;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s ease-in;
  border: none;
  align-items: center;
  min-height: 4rem;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
}

.Row--end {
  justify-content: flex-end;
}

.Row:first-child {
  border-top: 1px solid #f0f0f0;
}
.Row--link {
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.Row-icon {
  float:left;
  margin-right: 1rem;
  color: var(--primary);
  width: 2.5rem;
  height: auto;
}

.Row-title {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  font-weight: 550;
  font-size: 1rem;
  line-height: 1;
}

.Row-attribution {
  font-variant-caps: small-caps;
  text-decoration: none;
}

.Row-title--cardTitle {
  font-size: 1.2rem;
}

.Row a:visited {
  color: var(--link);
}
.Row a:hover {
  color: var(--hover);
}

.Row--highlight {
  background-color: #f9f9f9;
}
.Row-paragraph {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  font-size: 0.75rem;
}

.Row-label {
  border: none;
  padding: 0;
  display: inline-block;
  text-indent: 0;
}
.Row-toggles {
  flex: 0 0 auto;
}

@supports (display: flex) {
  .Row--buttons {
    display: flex;
  }
  .Row-body {
    flex: 0 0 auto;
    display: block;
  }
  .Row-wrapper {
    flex: 0 1 auto;
  }
  .Row {
    display: flex;
  }
  .Row-icon {
    flex: 0 1 auto;
  }
  .Row--link {
    justify-content: center;
  }
  .Row--toggle {
    display: flex;
  }
  .Row-buttons {
    margin-left: auto;
  }
}

