/*
Detail + Summary

Built in disclosure widget

Markup:
<details>
    <summary>Details</summary>
    Something small enough to escape casual notice.
</details>

StyleGuide: 4.detail
*/

details {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* details:first-of-type {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
} */

summary {
  background-image: none;
  background-color: var(--light);
  color: #333;
  font-size: 0.65rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0.25rem 0.5rem;
  line-height: 0.65rem;
  font-family: var(--sans-fonts);
  cursor: pointer;
}
summary:focus,
summary:hover {
  background-color: #fafafa;
  color: #333;
  outline: none;
  box-shadow: inset 0 0 1px 1px #eee;
}

details[open] {
  box-shadow: none;
  background-color: white;
}

details[open] summary {
  background-color: transparent;
}

details[open] summary:focus,
details[open] summary:hover {
  background-color: #fafafa;
  color: #333;
  outline: none;
  box-shadow: none;
}
