/*
Links

Basic link styles

Markup:
<p><a href="#" class="{{modifier_class}}">This is a link</a></p>

:link - basic link
:visited - visited link
:hover - hover
:focus - links need focus styles as well
:active - when it's active

StyleGuide: 4.links
*/

a {
  outline: none;
  box-shadow: 0 0 0 0 var(--light);
  transition: box-shadow 0.1s cubic-bezier(.9,.03,.69,.22), transform 0.1s cubic-bezier(.9,.03,.69,.22);
}
a:link {
  color: var(--link);
}
a:visited {
  color: var(--visited);
}
a:hover {
  color: var(--hover);
  box-shadow: 0px 3px 0px 0px;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
  background-color: var(--light);
  margin: -2px -7px;
  padding: 2px 7px;
}
a:active {
  color: var(--active);
}

a[role=tab]:focus {
  background-color: var(--light);
  color: black;
}