::-webkit-scrollbar-track {
  background-color: var(--light);
  border-radius: 0;
  border: none;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--light);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border: none;
}

::-webkit-scrollbar-track:hover {
  background-color: #f0f0f0;
}
::-webkit-scrollbar-track:active {
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
::-webkit-scrollbar-thumb:active {
  background-color: #000;
}

html {
  scrollbar-face-color: #999;
  scrollbar-track-color: var(--light);
}
