
@keyframes fade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: .65;
  }
  67% {
    opacity: .85;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ux-hover {
  0% {
    display: block;
  }
  1% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale-up-center {
 0% {
   -webkit-transform: scale(0.5);
           transform: scale(0.5);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}
@keyframes scale-up-center {
 0% {
   -webkit-transform: scale(0.5);
           transform: scale(0.5);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}