/* #kss-node .kss-modifier__wrapper {
  background: #fafafa;
} */
#kss-node .kss-style {
color: #444;
font-family: var(--fonts);
line-height: var(--line-height);
}

#kss-node .kss-style h1, #kss-node .kss-style h2, #kss-node .kss-style h3, #kss-node .kss-style h4, #kss-node .kss-style h5 {
  font-family: var(--fonts);
}