/*
Links

Basic link styles

Markup:
<p><a href="#" class="{{modifier_class}}">This is a link</a></p>

:link - basic link
:visited - visited link
:hover - hover
:focus - links need focus styles as well
:active - when it's active

StyleGuide: 4.links
*/

a[href] {
  transition: box-shadow 0.1s cubic-bezier(0.9, 0.03, 0.69, 0.22),
    transform 0.1s cubic-bezier(0.9, 0.03, 0.69, 0.22);
  text-decoration: underline;
}
:link {
  color: var(--link);
}
:visited {
  color: var(--visited);
}
a:link:hover {
  color: var(--hover);
}
a {
  border-radius: 2rem;
}
@keyframes outlinePop {
  0% {
    box-shadow: 0 0 0 1px rgb(228, 255, 254, 0.2);
    background-color: rgb(228, 255, 254, 0.2);
    transform: scale(0.5);
  }
  50% {
    box-shadow: 0 0 0 8px var(--rc-lighter);
    transform: scale(1.5);
  }
  100% {
    box-shadow: 0 0 0 3px var(--rc-lighter);
    background-color: var(--rc-lighter);
    transform: scale(1);
  }
}
a:focus {
  background-color: var(--rc-lighter);
  box-shadow: 0 0 0 5px var(--rc-lighter);
  outline: solid transparent;
  animation: outlinePop 0.25s ease-in-out;
}

a:link:active {
  color: var(--active);
}
/* 
[role='tab']:focus {
  background-color: var(--light);
  color: black;
} */
